.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 650px;
  width: 100%;
}

.button {
  font-size: 18px;
  font-weight: 500;
  padding: 14px 0;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #01D986;
  color: #1A1A1A;
  cursor: pointer;
  transition: all 0.3s ease; 
}
.button:hover {
  opacity: 0.7;
}