

.button {
  font-size: 18px;
  font-weight: 500;
  padding: 14px 0;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #01D986;
  color: #1A1A1A;
  cursor: pointer;
  transition: all 0.3s ease; 
  margin: 40px 0 50px 0;
}
.button:hover {
  opacity: 0.7;
}

.paddingForm {
  padding: 20px 50px;
}
.red {
  color: red;
  font-size: 14px;
  padding-left: 10px;
  margin-bottom: -10px;
}

@media screen and (max-width:500px){
  .paddingForm {
    padding: 10px 15px;
  }
}